<h2>Chat</h2>
<br>
<form >
    <input id="user-msg" type="text" placeholder="user">
    <br>
    <input id="input-msg" type="text">
    <br>
    <button onclick="enviarMensaje()">Enviar</button>
</form>
<div id="div-list-msgs"></div>
<p class="footer">*Sitio desarrollado por Mi para curso de CH @derechos reservados 2022</p>