{{> navbar}}
<br/>

<h1>Ingresar Producto</h1>
<form method="post" action="/api/productos">
        <label for="">title</label>
        <input type="text" name="title">
        <label for="">price</label>
        <input type="text" name="price">
        <label for="">thumbnail</label>
        <input type="text" name="thumbnail">
        <input type="submit" value="Enviar">
    </form>

<br/>
{{> footer}}
<br/>