html
    head
        title='Formulario'
        style
            include styles.css
    body
        ul 
            li 
                a(href="/products") Productos 
                a(href="/form") Formulario
        h1='Articulo ingresado'