<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../public/index.js"></script>
  </head>
  <body>
    <%- include('../partials/navbar'); %>
    <%=title %>
    
    <form method="post" action="/productos">
        <label for="title">title</label>
        <input type="text" name="title" id="title"/>
        <br/>
        <label for="price">price</label>
        <input type="text" name="price" id="price"/>
        <br/>
        <label for="thumbnail">thumbnail</label>
        <input type="text" name="thumbnail" id="thumbnail"/>
        <br/>
        <input type="submit" value="Enviar"/>
    </form>

    <%- include('../partials/footer'); %> 
  </body>
</html>