<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../public/index.js"></script>
  </head>
  <body>
    <%- include('../partials/navbar'); %>
    <h1>Servido AD</h1>
    


    <%- include('../partials/footer'); %> 
  </body>
</html>